{{!< default}}

<div id="latest-post" class="container_12">
  {{#foreach posts}}
    {{#if @first}}
      {{> post-content}}
    {{/if}}
  {{/foreach}}
</div>

<div id="post-index" class="container_12">
  <div class="grid_8">
    <ol class="post-list">
      {{#foreach posts}}
        <li class="post-stub clearfix {{post_class}}" >
          <a class="js-ajax-link"  title="{{title}} | {{@blog.title}}" href="{{url}}">
            <div class="post-stub-header">
              <h2 class="post-stub-title">{{title}}</h2>
              <time class="post-stub-date" datetime="{{published_at}}">{{date format="D MMMM YYYY"}}</time>
            </div>
            <div class="post-excerpt">
              <p>{{excerpt}}&hellip;</p>
            </div>
          </a>
          <div class="post-tags">
            <span>Tagged:</span>
            {{#if tags}}
              {{tags separator=" "}}
            {{/if}}
          </div>
        </li>
      {{/foreach}}
    </ol>
  </div>
  <div class="sidebar grid_4">
    <p><a href="http://www.altitudehk.com">Altitude Labs</a> is a team of designers and developers. We are a Silicon Valley styled one-stop shop for turning digital ideas into reality.</p>
    <p>We seek every opportunity to write, teach and speak about what we do. In doing so, we want to be part of shaping the tech community in Asia.</p>
  </div>

  <div class="post-navigation">
    {{pagination}}
  </div>
</div>

